<h1>The Movie is</h1>
Lists the title genre if available year
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Year</th>
            
        </tr>
    </thead>
    <tbody></tbody>
   
      <tr class="mb-2"> 
        
        <td>
            <strong><%= movies.title %></strong>
        </td>

        <td>
            <%= movies.genres[0] %>
        </td>

        <td>
            <%= movies.year %>
        </td>

       
         
        

        
    </tr>
    
    </tbody>
</table>

<pre>
    
</pre>