

    <div class="jumbotron">
        <h1>Lucian's App: Movie Finder </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
       Type in the name of a movie to get some info about it!
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/movies/byTitle">
            Show movies by Title: 
              <input type="text" name="title" 
                     placeholder="e.g. Shrek">
            <input type="submit">
        </form>
        <br>
        
        <br>
        
    <% } %>


